.navbar-default {
	background-color: black;
}
footer .footer-above {
	background-color: black;
}
header {
	background-color: #05d2aa;
}
a {
	color: #05d2aa;
}
a, a:hover, a:focus, a:active, a.active {
	color: #05d2aa;
}
.img-responsive {
	max-width: 60%;
}
@media (min-width: 700px) {
	header .intro-text .skills
		{
			font-size: 2em;
		}
}
@media (min-width: 1000px) {
	header .intro-text .skills
		{
			font-size: 2.5em;
		}
}
.skills {
	font-size: 2.5em;
}