.intro {
  //background-color: #91dfff; 
  background-color: #00b6ff; 
}
.management {
  //background-color: #ec8989;
  background-color: #e6007c;
}
.publishing {
  //background-color: #9ee4af;
  background-color: #0dbc37;
}
.storytelling {
  background-color: #dfaad4;
}
.business {
  //background-color: #ffc8a3;
  background-color: #ff6700;
}
.leadership {
  //background-color: #d5d5d5;
  background-color: #f9bc26;
}
.analysis {
  //background-color: #f6a1ce;
  background-color: #722ea5;
}
.hexagon-wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}
.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}
.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}
.no {
  opacity: 0;
}
.hex2 h4 {
  font-size:0.85em;
  position: absolute;
  z-index: 2000;
  top: 55%;
  width: 100px;
  font-weight: lighter;
  left: 0px;
  font-weight: 200;
  color: white;
  letter-spacing: 0.5px;
}
#hex_key {
  text-align: center;
  width: 100%;
  top: -30px;
  position: relative;
}
#details_box {
    display: inline-block;
    top: 370px;
    position: absolute;
    left: 60%;
    padding: 12px;
    line-height: 1.5em;
    min-width: 320px;
    font-size: 1em;
}
#details_box h3 {
  padding-top: 10px;
}
.course_filter {
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .framework {
    display: inline-block; 
    float: left; 
    max-width: 50%;
  }
  .framework_exp {
    display: inline-block;
    float: right;
    max-width: 50%;
  }
  .hex2 {
    width: 100px;
    height: 100px;
  }
  .hex2 img {
    position: absolute;
    z-index: 2000;
    top: 6%;
    height: 44px;
    left: 25%;
  }
  .even {
    display: inline-block;
    top: 52px;
  }
  .hexagon-wrapper {
    margin: -7px;
  }
  #hex_row {
    margin-top: 7px;
    margin-left: 10px;
  }
  .courses_box_2_title {
    display: none;
  }
  #courses_box_2 {
    display:none;
  }
  .courses_box_1_title {
    display: block;
  }
  #courses_box_1 {
    display:inline-block;
    min-width: 265px; 
    max-width: 300px; 
    vertical-align: top;
  }
  #elearning_box {
    display: inline-block; 
    width: 300px; 
    vertical-align: top;
  }
  #hex_container {
    width: 680px;
  }
  .hex3 {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .hex3 h4 {
    font-size:0.9em;
    position: absolute;
    z-index: 2000;
    top: 110%;
    width: 80px;
    font-weight: lighter;
    left: -20px;
  }
}
@media only screen and (max-width: 767px) {
  .framework {
    display: block;
  } 
  .framework_exp {
    display: block;
  }
  .hex2 {
    width: 68px;
    height: 68px;
  }
  .hex2 img {
    position: absolute;
    z-index: 2000;
    top: 20%;
    height: 39px;
    left: 19%;
  }
  .even {
    display: inline-block;
    top: 35px;
  }
  .hexagon-wrapper {
    margin: -5px;
  }
  #hex_row {
    margin-top: 2px;
    margin-left: 10px;
  }
  .hex2 h4 {
    display: none;  
  }
  #courses_box_1 {
    display:none;
  }
  #courses_box_2 {
    display:block;
  }
  .courses_box_2_title {
    display: block
  }
  .courses_box_1_title {
    display: none;
  }
  #elearning_box {
    display: block; 
  }
  #hex_container {
    width: 450px;
  }
  .hex3 {
    width: 40px;
    height: 40px;
    margin-left: 13px;
    margin-right: 13px;
  }
  .hex3 h4 {
    font-size: 0.75em;
    position: absolute;
    z-index: 2000;
    top: 110%;
    width: 71px;
    font-weight: lighter;
    left: -16px;
  }
}