<p>Open data is a relatively new field. Its potential is being realised increasingly as it is slowly integrated into the strategies of organisations. Those working with open data or on open data initiatives often have to learn the skills as they go. There is no clear language to describe the knowledge and skills of those working with open data; nothing with which to benchmark a single individual’s expertise, and point to where they are in their learning journey.</p>
<p>This is why the ODI has created the open data skills framework.</p>
<p>The open data skills framework is a simple, three-tier framework that describes the knowledge and skills of anyone interacting with open data, from beginner through to expert level.</p>
<p>The skills framework enables learners to identify where they are in their learning journey. Everybody starts their journey as an ‘explorer’. They may then wish to focus on either strategic or practical skills, or both. Ideally, every learner will eventually apply their learning back to their sector to help solve sector-specific challenges, and drive change in their domain.</p>

<div class="framework" style="text-align:center">
  <img src="../img/course-img/framework_overview.png" alt=""/>
</div>
<div class="framework_exp">
    <div class="explorer price_rating_area" style="padding: 5px 5px 2px; margin-bottom: 10px;">
      <div class="price">
        <span style="font-size: 16px; font-weight: 500;">Explorer</span><br/>
        <p>An open data explorer has a basic understanding of open data. They can define it, point to examples or case studies and explain how it can be used to create change.</p>
      </div>
      </div>
      <div class="strategist price_rating_area" style="padding: 5px 5px 2px; margin-bottom: 10px;">
      <div class="price">
        <span style="font-size: 16px; font-weight: 500;">Strategist</span><br/>
        <p>An open data strategist is someone who integrates open data into a strategy or manages an open data project. They have the planning and management techniques to drive forward an open data initiative, and they understand the challenges inherent in this process.</p>
      </div>
    </div>
    <div class="practitioner price_rating_area" style="padding: 5px 5px 2px; margin-bottom: 10px;">
      <div class="price">
        <span style="font-size: 16px; font-weight: 500;">Practitioner</span><br/>
        <p>Open data practitioners have the practical skills necessary to conduct basic operations on an open dataset. They get hands-on with the data, and are familiar with the tools and techniques necessary to manage and publish an open dataset.</p>
      </div>
    </div>
    <div class="pioneer price_rating_area" style="padding: 5px 5px 2px; margin-bottom: 10px;">
      <div class="price">
      <span style="font-size: 16px; font-weight: 500;">Pioneer</span><br/>
      <p>Open data pioneers apply their data knowledge to their sector to solve challenges. They can point to sector-specific case studies, identify future trends in the sector and understand the data challenges specific to their sector.</p>
    </div>
  </div>
</div>
