<!-- Top Header Area Start -->
<div class="top_header_area hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-5">
                <!--  Top Quote Area Start -->
                <div class="top_quote hidden-sm">
                    <p>Open Data Institute Learning</p>
                </div>
            </div>
            <div class="col-sm-9 col-md-7">
                <div class="social_reg_log_area">
                    <!--  Login Register Area -->
                    <div class="login_register">
                        <div class="login" style="border-left: 0px; color: white;">
                            ODI Network
                        </div>
                        <div class="login">
                            <a href="http://theodi.org" target="_blank">theodi.org</a>
                        </div>
                        <div class="login">
                            <a href="#">ODI Learning</a>
                        </div>
                        <div class="reg">
                            <a href="http://theodi.github.io/">ODI Labs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header Area  End -->