<!-- Top Header Area Start -->
<div class="top_header_area hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-5">
                <!--  Top Quote Area Start -->
                <div class="top_quote hidden-sm">
                    <p>Open Data Institute Learning</p>
                </div>
            </div>
            <div class="col-sm-9 col-md-7">
                <div class="social_reg_log_area">
                    <!--  Top Social bar start -->
                    <div class="top_social_bar">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    </div>
                    <!--  Login Register Area -->
                    <div class="login_register">
                        <div class="login">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <a href="login.html">Login</a>
                        </div>
                        <div class="reg">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href="register.html">Register</a>
                        </div>
                    </div>

                    <div class="language_area">
                        <div class="dropdown">
                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="lag" type="button" class="btn btn-default dropdown-toggle">
                                <i class="fa fa-globe" aria-hidden="true"></i>Language
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                            <ul aria-labelledby="lag" class="dropdown-menu">
                                <li>
                                    <a href="#"><img alt="" src="img/core-img/lan-1.jpg">English</a>
                                </li>
                                <li>
                                    <a href="#"><img alt="" src="img/core-img/lan-2.jpg">German</a>
                                </li>
                                <li>
                                    <a href="#"><img alt="" src="img/core-img/lan-3.jpg">Spanish</a>
                                </li>
                                <li>
                                    <a href="#"><img alt="" src="img/core-img/lan-4.jpg">Bangla</a>
                                </li>
                                <li>
                                    <a href="#"><img alt="" src="img/core-img/lan-5.jpg">China</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header Area  End -->