<div id="hex_container">
<div id="hex_row">
  <div class="hex2 hexagon-wrapper even no"><div class="hexagon"></div></div>
  <div class="hex2 hexagon-wrapper no"><div class="hexagon"></div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon intro odd mod2"><img src="assets-white/noun_178634_cc.png" alt="" />
    <h4>Creating<br/> value</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon intro odd mod1"><img src="assets-white/noun_122_cc.png" alt="" />
    <h4>Introducing<br/> open data</h4>
    </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon publishing odd odm mod11"><img src="assets-white/noun_147534_cc.png" alt="" />
    <h4>Cleaning<br/> data</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper no"><div class="hexagon"></div></div>
  <div class="hex2 hexagon-wrapper even no"><div class="hexagon"></div></div>
</div>
<div id="hex_row">
  <div class="hex2 hexagon-wrapper even"><div class="hexagon business biw odp"><img src="assets-white/noun_16333_cc.png" alt="" />
    <h4>Innovating<br/> with data</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon management bs mod7"><img src="assets-white/noun_28414_cc.png" alt="" />
    <h4>Sustaining<br/> open data</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon management odd mr mod4"><img src="assets-white/noun_38250.png" alt="" style="left: 32%;"/>
    <h4>Licensing<br/> data</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon publishing odm mod5"><img src="assets-white/noun_216837_cc.png" alt="" />
    <h4>Improving<br/> quality</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon publishing odpub mod9"><img src="assets-white/noun_321778_cc.png" alt="" />
    <h4>Choosing<br/> formats</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon publishing odm mod10"><img src="assets-white/noun_210144_cc.png" alt="" />
    <h4>Boosting<br/> usability</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon analysis odv"><img src="assets-white/noun_221489_cc.png" alt="" />
    <h4>Using data<br/> analytics</h4>
  </div></div>
</div>
<div id="hex_row">
  <div class="hex2 hexagon-wrapper even"><div class="hexagon business biw mr"><img src="assets-white/noun_226433_cc.png" alt="" />
    <h4>Designing<br/> services</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon management bs mr"><img src="assets-white/noun_15064.png" alt="" style="left: 12px;" />
    <h4>Building<br/> communities</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon management plod mod3"><img src="assets-white/noun_187062_cc.png" alt="" />
    <h4>Managing<br/> change</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon publishing odpub mod8"><img src="assets-white/noun_285479_cc.png" alt="" />
    <h4>Using<br/> platforms</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon analysis ods"><img src="assets-white/noun_541208_cc.png" alt="" />
    <h4>Integrating<br/> M learning</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon publishing odpub mod13"><img src="assets-white/noun_428644_cc.png" alt="" />
    <h4>Linking<br/> data</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon analysis odv"><img src="assets-white/noun_222631_cc.png" alt="" />
    <h4>Visualising<br/> data</h4>
  </div></div>
</div>
<div id="hex_row">
  <div class="hex2 hexagon-wrapper even"><div class="hexagon business biw"><img src="assets-white/noun_39487_cc.png" alt="" />
    <h4>Generating<br/> revenue</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon management bs mod6"><img src="assets-white/noun_33238_cc.png" alt="" />
    <h4>Measuring<br/> success</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon leadership plod odpol"><img src="assets-white/noun_160223_cc.png" alt="" />
    <h4>Developing<br/> strategy</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon leadership odpol"><img src="assets-white/noun_4204.png" alt="" />
    <h4>Developing<br/> policy</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon analysis ods odpol"><img src="assets-white/noun_222633_cc.png" alt="" />
    <h4>Statistical<br/> methods</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon analysis odv odpol mod12"><img src="assets-white/noun_193243_cc.png" alt="" />
    <h4>Finding<br/> insights</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even"><div class="hexagon analysis ods"><img src="assets-white/noun_151005_cc.png" alt="" />
    <h4>Interacting<br/> with data</h4>
  </div></div>
</div>
<div id="hex_row">
  <div class="hex2 hexagon-wrapper even no"><div class="hexagon"></div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon leadership plod"><img src="assets-white/noun_603849_cc.png" alt="" style="left: 20%; top: 10%;"/>
    <h4>Prioritising<br/> action</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even no"><div class="hexagon"></div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon leadership plod"><img src="assets-white/leader.png" alt="" style="left: 27%; top: 10%;"/>
    <h4>Leading<br/> change</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even no"><div class="hexagon"></div></div>
  <div class="hex2 hexagon-wrapper"><div class="hexagon analysis ods"><img src="assets-white/noun_168596_cc.png" alt="" />
    <h4>Deploying<br/> data science</h4>
  </div></div>
  <div class="hex2 hexagon-wrapper even no"><div class="hexagon"></div></div>
</div>
<div id="hex_key">
  <div class="hex3 hexagon-wrapper even"><div class="hexagon key_hex intro"><h4>Introductions</h4></div></div>
  <div class="hex3 hexagon-wrapper even"><div class="hexagon key_hex publishing"><h4>Publishing</h4></div></div>
  <div class="hex3 hexagon-wrapper even"><div class="hexagon key_hex management"><h4>Management</h4></div></div>
  <!--<div class="hex3 hexagon-wrapper even"><div class="hexagon key_hex analysis"><h4>Storytelling</h4></div></div>-->
  <div class="hex3 hexagon-wrapper even"><div class="hexagon key_hex business"><h4>Business</h4></div></div>
  <div class="hex3 hexagon-wrapper even"><div class="hexagon key_hex analysis"><h4>Analysis</h4></div></div>
  <div class="hex3 hexagon-wrapper even"><div class="hexagon key_hex leadership"><h4>Leadership</h4></div></div>
</div>
</div>