<!-- Main Header Area Start -->
<div class="main_header_area home2">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-9">
                <!-- Logo Area -->
                <div class="logo_area">
                    <!--<a href="index.html"><img src="img/core-img/logo.png" alt=""></a>-->
                    <div class="about_us_text" style="margin-top: 30px;">
                         <h3><span>learndata.info</span></h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-xs-12">
                <!-- Menu Area -->
                <div class="main_menu_area">
                    <div class="mainmenu">
                        <nav>
                            <ul id="nav">
                            <li class="current_page_item"><a href="{{base}}/">Home</a></li>
                            <li><a href="#">News and Publications<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="{{base}}/news/">News and blog</a></li>
                                    <li><a href="{{base}}/guides/">Open data guides</a></li>
                                    <li><a href="{{base}}/stories/">Open data stories</a></li>
                                    <li><a href="{{base}}/case-studies/">Case studies</a></li>
                                    <li><a href="{{base}}/consultation-responses/">Consultation responses</a></li>
                                    <li><a href="{{base}}/reports/">Research and reports</a></li>
                                </ul>
                            </li>
                            <li><a href="#">courses<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu courses_list_menu">
                                    <li><a href="{{base}}/courses/">Full course List</a></li>
                                    <li>&nbsp;</li>
                                </ul>
                            </li>
                            <li><a href="#">eLearning<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="{{base}}/elearning/open_data_essentials.html">Open Data Essentials</a></li>
                                    <li><a href="{{base}}/elearning/finding_stories_in_data.html">Finding stories in data</a></li>
                                </ul>
                            </li>
                            <li><a href="#">team<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="{{base}}/team/odi_trainers.html">ODI Learning Experts</a></li>
                                    <li><a href="{{base}}/team/registered_trainers.html">Regisiterd Trainers</a></li>
                                    <li><a href="{{base}}/team/learning_associates.html">Learning Associates</a></li>
                                </ul>
                            </li>
                            <li><a href="{{base}}/events/">Calendar</a></li>
                        </ul>
                    </nav>
                </div>
            <!-- mainmenu end -->
            <!-- Search Button Area -->
            <div class="search_button hidden-xs">
    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Main Header Area End -->

<!-- Search Box Area Start -->
<div id="search">
    <div class="search_box_area">
        <form action="#" method="post">
            <input type="text" name="s" id="search_box" placeholder="Enter keyword and hit enter">
            <input type="submit" value="Submit" id="sub">
            <div id="close_button">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
        </form>
    </div>
</div>
