---
layout: odisite
page.url: /skills_framework/
---
{% include framework_description.html %}
</section>
<h2>The 2017 skills framework</h2>
<p>Explore the interactive 2017 skills framework and find out which courses and eLearning resources are available to help you gain each skill.</p>

<section class="skills_framework_area skills_framework grid_list section_padding_60" style="display: inline-block; width: 100%;">
    <div class="container">
        <div class="row" id="skills_framework" style="text-align: center;">
        {% include hexframework.html %}

        </div>
    </div>
</section>
<ul class="effect-2 listing" id="all_courses">
</ul>
<script type="text/javascript" src="../js/action_embed.js"></script>
